@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500&family=Mulish&family=Poppins:wght@500&display=swap');

:root {
  --font-size-one: 2.2rem;
  --font-size-xl: 1.8rem;
  --font-size-lg: 1.7rem;
  --font-size-explore: 1.5rem;
  --font-size-para: 1.3rem;
  --font-size-subpara: 1.2rem;
  --font-size-explore-btn: 0.9rem;
  --font-size-option: 0.8rem;
}

div.hide {
  display: none;
}
div.rotateX {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}
div.hide.show {
  display: block;
}
section.contact-section {
  overflow: hidden;
  padding: 0.4rem 1rem;
  position: relative;
}
.contact-container {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
.contact-content {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding: 0.5rem;
}
.contact-title {
  padding: 2rem 0 0.5rem;
  display: flex;
}
.contact-title > h3.contact {
  font-size: var(--font-size-one);
  font-weight: 900;
  opacity: 0.95;
}
.contact-title > h3.contact-subtitle {
  font-size: var(--font-size-xl);
  font-weight: 600;
  opacity: 0.95;
  line-height: 1.2;
}
p.contact-sub-para-child ~ h3.contact-subtitle {
  padding: 1.2rem 0 1.2rem 0.5rem;
  font-size: var(--font-size-lg);
  font-weight: 600;
  opacity: 0.95;
}

p.contact-para {
  color: rgb(32, 33, 36);
  font-size: var(--font-size-subpara);
  font-weight: 500;
  opacity: 0.9;
  line-height: 1.5;
}
.contact-queries {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}
h5.query-title {
  margin: 0.5rem;
  color: rgba(32, 33, 36, 0.9);
  font-size: var(--font-size-para);
  font-weight: 500;
  line-height: 1.5;
  border-bottom: 1px solid rgb(154, 160, 166);
  cursor: pointer;
}
h5.query-title:hover {
  border-bottom: 1px solid rgb(32, 33, 36);
}
.contact-sub-para {
  color: rgba(32, 33, 36, 0.9);
  font-size: var(--font-size-para);
  padding: 1.2rem 0.6rem 1.2rem;
  font-weight: 500;
  line-height: 1.5;
}
.contact-sub-para-child {
  color: rgba(32, 33, 36, 0.9);
  font-size: var(--font-size-subpara);
  padding: 0.8rem 0.6rem 0.6rem;
  font-weight: 500;
  line-height: 1.5;
}
.arrow-right-img {
  width: 2rem;
  height: 2rem;
}
img {
  width: 100%;
  height: 100%;
}
.contact-subqueries {
  margin-left: 2rem;
  padding: 0.5rem;
}
.contact-subquery {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.1rem;
}
ul li {
  font-size: var(--font-size-para);
}
.button.medium {
  width: 12rem;
}
.button {
  border: 0.1rem solid rgba(0, 0, 0, 0.483);
  border-radius: 5rem;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  font-weight: 800;
  cursor: pointer;
  margin-top: 0.7rem;
}
.button.first {
  align-self: center;
  justify-content: center;
  gap: 0.5rem;
  display: flex;
  color: #fff;
  background-color: rgb(25, 25, 27);
  opacity: 0.95;
}
.button.first:hover {
  box-shadow:
    rgb(60 64 67 / 30%) 0px 2px 3px 0px,
    rgb(60 64 67 / 15%) 0px 6px 10px 4px;
}
.button-content {
  display: flex;
  align-self: center;
}

/* css for responsivness */
@media only screen and (max-width: 500px) {
  section.contact-section,.contact-container {
    padding: 0.1rem;
  }
}
@media only screen and (max-width: 400px) {
    .contact-title > h3.contact-subtitle {
        font-size: var(--font-size-explore);
    }
    .contact-subqueries{
        margin-left: 1rem;
    }
    .arrow-right-img{
        width:3rem;
        height:2rem;
    }
    .contact-queries{
        gap: 0;
        margin-bottom: 0;
    }
    h5.query-title{
        font-size: var(--font-size-explore-btn);
    }
    p.contact-sub-para{
        padding:0.1rem 0.6rem;
    }
    p.contact-sub-para,p.contact-sub-para-child{
        font-size: var(--font-size-option);

    }
}
